table {
    background-color: #fff;
    /* padding-top: 10px; */
    border-radius: 10px;
    display: block;
}

/* table tr th:first-child {
    text-align: left;
    padding-left: 15px;
} */

table tr th:last-child {
    width: 250px;
    padding-right: 15px;
}

/* table tr td:first-child {
    text-align: left;
    padding-left: 15px;
} */

table tr td:last-child {
    padding-right: 15px;
}

/* table tfoot th, table tfoot td {
    height: 45px;
    font-weight: 600;
} */

/* graphics input */

.input_graph {
    display: grid;
    grid-template-columns: 50% auto;
    column-gap: 35px;
    margin-top: 25px;
}

.form {
    background-color: #fff;
}

.form-group {
    /* width: max-content; */
    margin: 35px auto;
}



.form_input {
    display: block;
    margin: 0 auto;
    width: 80%;
    padding: 22px 14px;
    font-size: 14px;
    border-radius: 4px;
    border: none;
    background-color: #f9f4f4;
    box-shadow: 0 3px 3px #888888;
    outline: none;
}

.form_input::placeholder {
    color: #b6b0b0;
}

.btn_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 10px 20px;
    margin-bottom: 50px;
    border: none; 
    border-radius: 3px;
    background-color: #f28e19;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.7;
}
